<!DOCTYPE html>
{% load static %}
<html class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="author" content="Themefisher.com" />

    <title>Awareness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    <link rel="stylesheet" href="static/plugins/bootstrap/bootstrap.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/plugins/revo-slider/css/settings.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/plugins/revo-slider/css/layers.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/plugins/revo-slider/css/navigation.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/plugins/revo-slider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/plugins/revo-slider/fonts/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/plugins/revo-slider/css/settings.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/plugins/revo-slider/css/layers.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/plugins/revo-slider/css/navigation.css"
    />
    <link rel="stylesheet" href="static/plugins/themefisher-font/style.css" />
    <link
      rel="stylesheet"
      href="static/plugins/lightbox2/dist/css/lightbox.min.css"
    />
    <link
      rel="stylesheet"
      href="static/plugins/slick-carousel/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="static/plugins/slick-carousel/slick/slick-theme.css"
    />
    <link rel="stylesheet" href="static/css/style.css" />
    <style>
      .col-center {
        margin: 0 auto;
        float: none !important;
      }

      .carousel {
        padding: 0 70px;
      }

      .carousel .carousel-item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 290px;
      }

      .carousel .carousel-item .img-box {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 50%;
      }

      .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
      }

      .carousel .testimonial1 {
        padding: 30px 0 10px;
      }

      .carousel .overview {
        font-style: italic;
      }

      .carousel .overview b {
        text-transform: uppercase;
        color: #293349;
      }

      .carousel-control-prev,
      .carousel-control-next {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        top: 50%;
        background: none;
      }

      .carousel-control-prev i,
      .carousel-control-next i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
      }

      .carousel-indicators {
        bottom: -40px;
      }

      .carousel-indicators li,
      .carousel-indicators li.active {
        width: 12px;
        height: 12px;
        margin: 1px 3px;
        border-radius: 50%;
        border: none;
      }

      .carousel-indicators li {
        background: #999;
        border-color: transparent;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
      }

      .carousel-indicators li.active {
        background: #555;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>

  <body id="body">
    <div id="preloader">
      <div class="preloader">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    <section class="header navigation fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="home.html">
                <img
                  src="static/images/logo.jpg"
                  width="100"
                  height="47"
                  alt="logo"
                />
                <span style="color: white">God's Eye</span>
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navigation"
                aria-controls="navigation"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="tf-ion-android-menu"></span>
              </button>

              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="register.html"></a>
                  </li>
                </ul>
              </div>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="awareness.html">Awareness</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="register.html">Register</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!--
Welcome Slider
==================================== -->
    <section class="hero-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="video-player">
              <a>
                <i>
                  <img
                    class="img-fluid rounded w-100"
                    src="static/images/blind.jpg"
                    alt=""
                  />
                </i>
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="block">
              <h2>Awareness for the blind</h2>
              <p>
                God’s eye is an artificial intelligence based web
                application/platform for blind children to help them perform
                their everyday chores using a voice assistant without help from
                anyone. This platform helps them to interact with the
                environment, enables them to learn from their surrounding by
                identifying various things and scenes around them, and also aids
                them in recognizing their friends and family. To utilize this
                application, the visually impaired person needs to speak or tap
                on the device to perform a particular task. So, it is pretty
                easy to use once configured as per the requirement.
              </p>
              <ul
                class="list-inline wow fadeInUp"
                data-wow-duration=".5s"
                data-wow-delay=".7s"
              >
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--
Start About Section
==================================== -->
    <section class="about-2 section bg-gray" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5">
            <h2>Cane Travel Discussion and Demonstration</h2>
            <div class="col-md-5">
              <img
                src="static/images/the.gif"
                alt="about-img"
                width="400"
                height="250"
              />
            </div>
          </div>

          <div class="col-12 col-md-7">
            <p>
              A cane travel discussion and demonstration is effective in helping
              students understand that their blind classmate will be learning
              travel techniques that will enable him/her to move about safely
              and independently.Have the blind student or adult presenter write
              each child's name in Braille on a piece of paper that the children
              can take home.
            </p>
            <p>
              Point out that the number five on a phone pad usually has a
              tactile marking that blind people use as a reference point when
              dialing; let students try to find the marking using their sense of
              touch. Some might then want to locate the other numbers. Children
              often wonder how a blind person can eat without being able to see.
              They will see how easily they were able to discern which was
              which. Then have them close their eyes and see if they can get a
              spoon to their mouths. Point out that they probably brush their
              teeth without looking.
            </p>
            <p>
              Brainstorm with the class about how people could accomplish
              various tasks without eyesight.Set up role play situations in
              which one child closes his/her eyes and a partner tries to show
              him/her an object. Students will soon see that using words and
              putting the object into the blind child s hands will be effective.
              Brainstorm ways to get the blind child into games. For example, in
              a game of kickball, instead of rolling the ball to the blind
              student, the ball could be placed in front of him or her.
            </p>
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End container -->
    </section>
    <!-- End section -->

    <section class="about section-sm" id="about">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-5">
            <img
              src="static/images/sssst.jpg"
              class="img-fluid rounded shadow w-100"
              alt="about-img"
            />
          </div>
          <div class="col-md-5">
            <div class="content">
              <h2>Language Barrier</h2>
              <p>
                Visually impaired children often find it challenging to carry
                out their typical daily activities. So, they require permanent
                and continuous assistance from their friends or guardians to
                perform their tasks. Our vision is to make a blind child feel
                like an able-bodied person who is capable enough to do almost
                all his daily tasks by himself without any help from anyone. The
                sightless students are unable to gain knowledge by reading
                books, surfing the internet, or taking online courses
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5 order-md-1 order-2">
            <div class="content">
              <h2>Teaching Blind Students</h2>
              <p>
                Activities like teaching will broaden awareness. The blind child
                will probably enjoy the attention given to his/her methods; the
                sighted children will enjoy the success they experienced and the
                understanding they gained and will feel empowered to interact
                with their blind classmate. These experiences will foster the
                idea that their blind classmate can be a friend and an equal,
                and friendship and equality beat charity and pity any day.
              </p>
            </div>
          </div>
          <div class="col-md-5 order-md-2 order-1">
            <img
              src="static/images/ssst.jpg"
              class="img-fluid rounded shadow w-100"
              alt=""
            />
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End container -->
    </section>
    <!-- End section -->

    <footer id="footer" class="bg-one">
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <!-- <h3>Our Services</h3>
			<ul>
			  <li><a href="#">Graphic Design</a></li>
			  <li><a href="#">Web Design</a></li>
			  <li><a href="#">Web Development</a></li>
			</ul> -->
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <h3>About</h3>
              <p>
                God’s eye is an AI-based web application for blind children to
                help them perform their everyday chores themselves using a voice
                assistant and without any other help from anyone
              </p>
            </div>
            <!-- End of .col-sm-3 -->

            <!-- End of .col-sm-3 -->

            <!-- End of .col-sm-3 -->

            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <h3>Subscribe Now</h3>
              <form class="subscribe-form">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
                <button type="submit" class="btn btn-main-sm">
                  Subscribe Now
                </button>
              </form>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <!-- <h3>Quick Links</h3>
			<ul>
			  <li><a href="#">Partners</a></li>
			  <li><a href="#">About</a></li>
			  <li><a href="#">FAQ’s</a></li>
			  <li><a href="#">Badges</a></li>
			</ul> -->
            </div>
            <!-- End of .col-sm-3 -->
          </div>
        </div>
        <!-- end container -->
      </div>
      <div class="footer-bottom">
        <h5>Copyright 2022. All rights reserved.</h5>
      </div>
    </footer>
    <!-- end footer -->
    <!-- end Footer Area
========================================== -->

    <!-- 
Essential Scripts
=====================================-->
    <!-- Main jQuery -->
    <script src="static/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="static/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Parallax -->
    <script src="static/plugins/parallax/jquery.parallax-1.1.3.js"></script>
    <!-- lightbox -->
    <script src="static/plugins/lightbox2/dist/js/lightbox.min.js"></script>
    <!-- Owl Carousel -->
    <script src="static/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Portfolio Filtering -->
    <script src="static/plugins/filterzr/jquery.filterizr.min.js"></script>
    <!-- Smooth Scroll js -->
    <script src="static/plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA"></script>
    <!-- Form Validation -->
    <script src="static/plugins/form-validation/jquery.form.js"></script>
    <script src="static/plugins/form-validation/jquery.validate.min.js"></script>
    <!-- Custom js -->
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/jquery.themepunch.tools.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/jquery.themepunch.revolution.min.js"
    ></script>
    <script src="static/js/script.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
(Load Extensions only on Local File Systems ! 
The following part can be removed on Server for On Demand Loading) -->
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.actions.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.carousel.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.migration.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/plugins/revo-slider/js/extensions/revolution.extension.video.min.js"
    ></script>
    <script>
      /* https://learn.jquery.com/using-jquery-core/document-ready/ */
      jQuery(document).ready(function () {
        /* initialize the slider based on the Slider's ID attribute */
        jQuery("#rev_slider_1")
          .show()
          .revolution({
            /* options are 'auto', 'fullwidth' or 'fullscreen' */
            sliderLayout: "fullscreen",

            /* basic navigation arrows and bullets */
            navigation: {
              arrows: {
                style: "zeus",
                enable: true,
                hide_onmobile: true,
                hide_under: 600,
                hide_onleave: true,
                hide_delay: 200,
                hide_delay_mobile: 1200,
                tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                left: {
                  h_align: "left",
                  v_align: "center",
                  h_offset: 30,
                  v_offset: 0,
                },
                right: {
                  h_align: "right",
                  v_align: "center",
                  h_offset: 30,
                  v_offset: 0,
                },
              },
              bullets: {
                enable: false,
                hide_onmobile: true,
                hide_under: 600,
                style: "metis",
                hide_onleave: true,
                hide_delay: 200,
                hide_delay_mobile: 1200,
                direction: "horizontal",
                h_align: "center",
                v_align: "bottom",
                h_offset: 0,
                v_offset: 30,
                space: 5,
                tmp: '<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>',
              },
            },
          });
      });
    </script>
  </body>
</html>
